<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Kyle's CS 253 Wiki</title>
</head>

<body>
  <div class="login-area">
  	Hi
  	{% if vdata['user'] %}
  		{{vdata['user'].username}}
  	{% endif %}
  	
    {% if vdata['linkinfo'] %}
        {% for item in vdata['linkinfo'] %}
            | <a class="login-link" href="{{item[1]}}">{{item[0]}}</a>
        {% endfor %}
	{% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

<br>
<br>
<br>
<br>
{% block entry %}
{% endblock %}
